<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>SubscribersCounterFilter</filter-name>
        <filter-class>LandingPage.SubscribersCounterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SubscribersCounterFilter</filter-name>
        <servlet-name>FirstLandingPage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SubscribersCounterFilter</filter-name>
        <servlet-name>MainPage</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>SubscriberServlet</servlet-name>
        <servlet-class>LandingPage.SubscriberServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Main page view</description>
        <servlet-name>MainPage</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FirstLandingPage</servlet-name>
        <jsp-file>/landing1.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Error404</servlet-name>
        <jsp-file>/WEB-INF/404.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>WideLandingPage</servlet-name>
        <jsp-file>/landing31.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubscriberServlet</servlet-name>
        <url-pattern>/subscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FirstLandingPage</servlet-name>
        <url-pattern>/landing1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error404</servlet-name>
        <url-pattern>/error404</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/mainpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WideLandingPage</servlet-name>
        <url-pattern>/index</url-pattern>
        <url-pattern>/landing31</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--
    <context-param>
        <param-name>
      javax.servlet.jsp.jstl.sql.dataSource
    </param-name>
        <param-value>
      jdbc:mysql://localhost:3306/landing_page
    </param-value>
    </context-param>
    -->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error404</location>
    </error-page>
    <resource-ref>
        <res-ref-name>jdbc/LPDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
