<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>SubscriberServlet</servlet-name>
        <servlet-class>LandingPage.SubscriberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>LandingPage.StartServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Main page view</description>
        <servlet-name>MainPage</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubscriberServlet</servlet-name>
        <url-pattern>/subscribe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainPage</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>/index</url-pattern>
        <url-pattern>/index.html</url-pattern>
        <url-pattern>/index.htm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--
    <context-param>
        <param-name>
      javax.servlet.jsp.jstl.sql.dataSource
    </param-name>
        <param-value>
      jdbc:mysql://localhost:3306/landing_page
    </param-value>
    </context-param>
    -->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/404.jsp</location>
    </error-page>
    <resource-ref>
        <res-ref-name>jdbc/LPDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
